.showAbstract[aria-expanded="false"]::after {
    font-family: FontAwesome;
    content: " \f078";
}

.showAbstract[aria-expanded="true"]::after {
    font-family: FontAwesome;
    content: " \f077";
}
.section_top {
    margin-bottom: 0.2cm;
    margin-top: 0cm;
}

.section {
    margin-bottom: 0.4cm;
    margin-top: 0.15cm;
}


.wip_no_dist {
	margin-bottom:5px;
}

.wip_dist {
	margin-bottom:25px;
}
